.section-property{
  font-family: "Poppins", serif;
}
.single-property {
  margin-top: 5.7em;
  width: 100%;
  height: 100%;
  padding: 0 2em;
  position: relative;
}
.single-property .back-property {
  padding-top: .4em;
}
.single-property .back-property .back-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--blue-heading);
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--blue-heading);
  width: 11%;
  padding: .3em 0;
  border-radius: 4px;
}
.single-property .back-property .back-link:hover {
  color: white;
  background-color: var(--blue-heading);
  border-color: var(--blue-heading);
}
.single-property .back-property svg {
  font-size: 1.3rem;
}
.single-property .back-property .back {
  margin: 0;
  margin-left: 0.5em;
  font-size: 0.7rem;
}

.single-property .heading {
  text-align: start;
  font-weight: bold;
  word-spacing: 0.1rem;
  font-size: 2.2rem;
  line-height: 1.3;
  color: var(--blue-heading);
}
.single-property .heading-kes{
  margin-left: .7em;
}

.single-property .carousel .image {
  width: 100%;
  height: 60vh;
}
.hero-section .carousel-item .hero-image {
  width: 100%;
  height: 100%; /* Adjust this value as needed */
  object-fit: fill;
}

.hero-section .mt-4 {
  margin-top: 20px;
}

.hero-section .thumbnail-images img {
  transition: transform 0.3s ease;
}

.hero-section .thumbnail-images img:hover {
  transform: scale(1.1);
}


/* recyle-bin */
.recycle-bin-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 100%; /* Ensure the container doesn't exceed the width */
  height: 7em;
}

.image-scroll {
  overflow-x: auto;
  display: flex;
  width: 100%;
  scroll-behavior: smooth;
  padding: 0 1em;
}

.scroll-arrow {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.g-4 > .col {
  flex: 0 0 auto;
  width: 20%; /* Each image takes up 20% of the container to fit 5 images */
  padding: 0 4px;
}

/* description-description */
.single-property .description-description {
  height: 110vh;
  margin-top: 7em;
  padding: 2em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: white;
}
.single-property .description-description .description-title{
  letter-spacing: 0.05rem;
  word-spacing: 0.1rem;
  padding: .5em .5em;
  padding-bottom: 0.5em;
  font-size: 1.2rem;
  font-weight: bold;
  color: #1f4279;
  text-align: start;
  align-self: flex-start;
}
.single-property .description-description .description-desc{
  letter-spacing: 0.05rem;
  word-spacing: 0.1rem;
  line-height: 1.8;
  padding: 0 .5em;
  font-size: 0.9rem;
  color: var(--p-gray);
  margin: 0;
}
  
.single-property .description-description .first-row {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.single-property .description-description .column {
  height: 90%;
}

.single-property .description-description .column .desc {
  height: 100%;
  position: relative;
}

.single-property .description-description .column .image {
  height: 95%;
  width: 100%;
  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.single-property .description-description .column .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.single-property .description-description .column .image .brochure-button{
  position: absolute;
  z-index: 2;
  padding: 0.5em 1.5em;
  background-color: #98cad5;
  font-weight: bold;
  color: white;
  color: var(--blue-heading);
  font-size: .8rem;
  box-shadow: -6px 8px 4px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 5px;
  transition: background-color 0.5s ease, transform 0.3s ease;
}

.single-property .description-description .column .image .brochure-button:hover {
  background-color: #76b0c3;
  transform: scale(1.05);
  color: #f8f8f8;
}
.description-description .floor-plan {
  height: 100%;
  overflow-y: auto; 
  padding-right: 8px;
  background-color: rgb(240, 243, 245);
  border-top: 5px solid var(--blue-heading);
}
.description-description .floor-plan::-webkit-scrollbar{
  width: 6px;
}
.description-description .floor-plan::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0.3);
}
.description-description .floor-plan::-webkit-scrollbar-track{
  background: transparent;
}

.description-description .floor-plan .floor-col {
 height: 45%;
  margin-bottom: 0;
  padding: .5em;
}


/* Property Description */
.property-description {
  margin-top: 4em;
  padding: 3em 2em;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: white;
}
.single-property .property-description h5 {
  font-size: 1rem;
  letter-spacing: 0.4px;
  font-weight: bold;
}
.single-property .property-description .apartment-features {
  font-weight: normal;
  color: #c6290d;
  font-style: italic;
}
.property-description .second-description {
  font-size: 0.9rem;
  letter-spacing: 0.3px;
  color: var(--p-gray);
}
.property-description .second-features {
  padding: 0 1em;
  font-size: 0.9rem;
  letter-spacing: 0.3px;
  margin-bottom: 2em;
  color: var(--p-gray);
}
.property-description .second-features .second-amenity {
  display: flex;
  align-items: center;
  margin-bottom: 0.2em;
}
.property-description .second-features .second-amenity .second-icon {
  height: 5px;
  width: 5px;
  background-color: #1f4279;
  margin-right: 0.8em;
}
.property-description .second-price {
  display: flex;
}
.property-description .second-price p {
  font-weight: bold;
  margin-left: 0.3em;
}
.property-description .second-note {
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.7px;
  color: #c6290d;
}
.property-description .agent-desc .agent-info {
  font-size: 0.8rem;
  letter-spacing: 0.7px;
  font-weight: bold;
  color: var(--blue-heading);
}
.property-description .agent-desc .agent-info span{
  color: black;
}

/* amenities */
.single-property .amenities {
  margin-top: 3em;
  padding-top: 0;
  padding-bottom: 4em;
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.amenities h3 {
  text-align: center;
  color: #1f4279;
  font-weight: 100;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  padding: 0.7em;
  margin-bottom: 2em;
  background-color: #efefed;
}
.amenities .amenities-component {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  padding-left: 1.9em;
}

.amenities-grid {
  width: 100%;
}

.amenities-grid .amenity-item {
  display: flex;
  justify-content: start;
  padding: 0.5em;
  padding-top: 1em;
  border-radius: 4px;
  text-align: center;
}

.amenity-item .amenity {
  display: flex;
  justify-content: center;
  align-items: start;
}

.amenity-item .amenity svg {
  font-size: 1.8em;
  color: #1f4279;
}
.amenity-item .amenity p {
  font-size: 14px;
  font-weight: 100;
  color: #1f4279;
  margin-left: 1em;
  display: inline-block;
}

/* similar properties */
.single-property .similar-properties {
  border-top: 1px solid rgb(188, 184, 184);
  margin: 6em 0;
  height: 31em;
  width: 100%;
}
.single-property .similar-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.single-property .similar-head .similar-link {
  text-decoration: none;
  border: 1px solid var(--blue-heading);
  color: var(--blue-heading);
  padding: 0.3em 0.5em;
  border-radius: 1em;
  margin-right: 1.5em;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
}
.single-property .similar-head .similar-link:hover {
  color: white;
  background-color: var(--skyblue-dark);
  border-color: var(--skyblue-dark);
}
.single-property .similar-properties .similar-heading {
  margin: 1em 0;
  color: #1f4279;

  text-align: left;
}
.similar-properties .row {
  width: 100%;
  height: 90%;
}
.similar-properties .row .similar-col {
  height: 100%;
}


