.property-grid{
    background-color: white;
    width: 100%;
    padding-top: 4em;
    padding-bottom: 3em;
    font-family: "Poppins", serif;
}
.property-grid .heading{
    text-align: center;
    letter-spacing: .05rem;
    padding-bottom: 1em;
    color: var(--blue-heading);
}

.property-grid .column{
    height: 30em;
    
}
    

