.property-grid{
    background-color: white;
    width: 100%;
    padding-top: 4em;
    padding-bottom: 3em;
    
}
.property-grid .heading{
    text-align: center;
    letter-spacing: .05rem;
    padding-bottom: 1em;
}

.property-grid .single-property {
    padding-top: 5em;
    display: flex;
    justify-content: center;
}
.property-grid .single-property .button{
    padding: .5em 3em;
    background-color: #98cad5;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}