.about-us {
    height: 100vh;
    margin-top: 1em;
    padding: 6em 0.5em;
}
.about-us .about-usrow {
    height: 100%;
}
.about-usrow .about-infobg{
    background-color: #98cad5;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2em 0px 2em 0px;
}
.about-infobg .about-info {
    height: 60%;
    padding: 4em 5em; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.about-infobg .about-info h4{
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    word-spacing: 2px;
    line-height: 1.5;
}
.about-infobg .about-info p {
    text-align: center;
    word-spacing: 2.3px;
    letter-spacing: .8px;
    line-height: 1.8;
    margin-top: 1.5em;
}
.about-infobg .about-info button {
    border: none;
    background: none;
    color: inherit;
    font-weight: bold;
    border-bottom: 2px solid #007cbb;
}

/* Description */

.about-us .info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: .5em 4em;
}
.about-us .info .info-components h5{
    color: #505050;
    font-size: 1.45rem;
    font-weight: bold;
    padding-bottom: 3px;
}
.about-us .info .info-components p {
    word-spacing: 2.3px;
    letter-spacing: .8px;
    line-height: 1.8;
    color: #505050;
}