.banner {
    height: 80vh;
    margin-top: 4.5em;
}

.main-slide img {
    height: 76vh !important;
}
.main-slide .carousel-caption {
    position: absolute;
    top: 80%;
    left: 3%;
    transform: translateY(-50%);
    text-align: left;
}

.main-slide .carousel-caption h3 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
   padding: 10px;
   display: inline-block;
}

.banner img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
