.new-properties {
    margin-top: 3em;
    height: 110vh;
    font-family: "Poppins", serif;
}
.new-properties h2 {
    font-size: 1.45rem;
    color: #505050;
}
.new-properties .row{
    height: 100vh;
}
.new-properties .column{
    height: 50%;
}
.new-properties .first{
    height: 100%; 
}