
.property-component{
  height: 100%;
  position: relative;
  background-color: white;
}
.property-component .card-component{
  height: 100%;
  text-align: start;
  border: 1px solid #fbfaf8;
  outline: none;
  background-color: transparent;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.property-component .card-component:hover {
  color: #98cad5;
  transform: translateY(-5px); 
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.card-component:hover .card-content h3.title{
  color: #ba3610; 
}
.card-component:hover .card-content p.start span{
  color: #ba3610; 
}

.property-component .links{
  text-decoration: none;
}
.property-component .property-card{
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.property-component .property-card .image{
  height: 55%;
  background-color: inherit;
}
.property-component .property-card .image img{
  height: 100%;
  width: 100%;
  object-fit:cover;
}
.card-component .property-card .card-content h4 {
  font-size: 0.7rem;
  text-transform:uppercase;
  color: #505050;
}

.card-component .property-card h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #2e2e30;
  letter-spacing: 0.5px;
}
.card-component .property-card p {
  font-size: 0.75rem;
  color: #505050;
  letter-spacing: .3px;
}
.card-component .property-card .description{
  margin-bottom: 7px;
}

/* .property-card .card-content{
  position: relative;
} */
.card-content .start-price{
  border-top: 1px solid #efefed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  padding-top: .5em;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.card-component .property-card .price {
  font-weight: bold;
  background-color: green;
  padding: .3em .8em;
  border-radius: 1rem;
  color: white;
  font-size: .8rem;
}
.card-component .property-card .start-price .start {
  font-size: 0.8rem;
} 


.first-property .property-card .image{
  height: 75%;
}
