
:root{
    --blue-heading: #1F4279;
    --blue-dark: #051b3d;
    --skyblue-bg: #98cad5;
    --skyblue-dark: #76b0c3;
    --red-hover: #ba3610;
    --p-gray: #505050;
    --border-gray: #efefed;
    --bg: rgb(240, 243, 245);
}
